body{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%; 
    background-image: url('images/bg-intro-desktop.png');
    background-color: rgb(247, 139, 139);
  
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
main{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding: 40px;
     width: 1050px; 
    gap: 65px;
    margin: 0 16px;
    max-width: 1200px;
    color: white;
    height: 500px;
    /* width: calc(100%-16px); */
}
h1{
    font-size: 40px;
    font-weight: 900;
}
.container1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 32px;
    gap: 30px;
  
}
.container2{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center; 
    width: 50%;

    /* gap: 10px; */
}
.form-title{
    background-color: rgb(131, 131, 180);
    width: 100%;
    height: 50px;
    border-radius: 8px;
    padding: 12px;
    text-align: center;
}
.form{
    background-color:white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    /* gap: 30px; */
    margin-top: 16px;
     padding: 32px; 
     width: 100%;
}
.form input{
    width:100%;
    padding: 16px 24px;
    margin: 8px 0;
    left: 0;
    border-radius: 4px;
    border: 1px solid rgb(186, 177, 196);

}
.form button{
    width: 62vh;
    height: 50px;
    color: white;
    border: 0 solid;
    font-size: 15px;
    border-radius: 4px;
    background-color: rgb(67, 231, 67);
}
.prg{
    display: flex;
    flex-direction: row;
}
.pr{
    color: black;
    font-size:10px ;
}
.pt{
    font-size:10px ;
    color: brown;
}
 @media(max-width:756px){
    body{
       margin: 0;
       display: flex;
       justify-content: center;
       flex-direction: column;
       align-items: center;
        height: 100vh;
        width: 100%; 
         gap: 50%;
      
    
    }
    main{
        padding: 5px;
        margin-top:40%;
        display: flex;
        flex-direction: column;
       justify-content: center;
       align-items: center;
        width: 100%;
        /* gap: 30px; */
       
    }
    .container1{
       width: 100%;
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
       padding-top: 60%;
    }
    .container2{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%; 
    }
    .form button{
        width: 64vh;
        
    } 

}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }